*{
    box-sizing: border-box;
    margin: 0px;
}

header{
    background-color:#444;
    padding: 100px 0px;
    text-align: center;
}

header h1{
    color:#ffffff;
}

.intro{
    text-align: center;
    margin: 50px;
}

.intro p{
    color:#999;
    font-size: 1.5em;
}

.portfolio{
    background-color: #347;
}

.portfolio h1{
    color:#fff;
}
.thumbnail h3{
    font-family: cursive;
}
.thumbnail p{
    text-align: left;
    color: #666;
    font-family: serif;
    padding: 10px;
}

.contact{
    font-size: 1.5em;
    background-color: #444;
    color:#fff;
}

.contact p{
    color:#ccc;
}

footer{
    background-color: #000;
    color: #666;
    font-size: .7em;
    padding:50px 20px;
    border-top:3px #fff solid;
}

.slideanim {visibility:hidden;}
.slide {
    animation-name: slide;
    -webkit-animation-name: slide; 
    animation-duration: 1s; 
    -webkit-animation-duration: 1s;
    visibility: visible; 
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        transform: translateY(0%);
    } 
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}



